<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :orderType %><br />
    <%= f.text_field :orderType %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :downloadCount %><br />
    <%= f.text_field :downloadCount %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br />
    <%= f.text_field :app_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
