<h1>Listing apps</h1>

<% default_path = "http://#{self.request.host}:#{self.request.port}/apps" %>
<p>naver(<a href="<%= default_path + "?platform=naver&orderType=POPULARITY"%>">인기순</a>, <a href="<%= default_path + "?platform=naver&orderType=INSTALL"%>">설치많은순</a>) / nate(<a href="<%= default_path + "?platform=nate&orderType=1"%>">최근7일순</a>, <a href="<%= default_path + "?platform=nate&orderType=2"%>">전체누적순</a>)</p>

<div class="graph">
	<div id="placeholder" style="width:1200px;height:600px"></div>
</div>

<script type="text/javascript">
  var graphData = <%= raw @graphData.to_json %>;
  var graphOptions = <%= raw @graphOptions.to_json %>;
  $.plot($("#placeholder"), graphData, graphOptions);

  function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css( {
          position: 'absolute',
          display: 'none',
          top: y + 5,
          left: x + 5,
          border: '1px solid #fdd',
          padding: '2px',
          'background-color': '#fee',
          opacity: 0.80
      }).appendTo("body").fadeIn(200);
  }

  var previousPoint = null;
  $("#placeholder").bind("plothover", function (event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));

      if (item) {
          if (previousPoint != item.dataIndex) {
              previousPoint = item.dataIndex;
              
              $("#tooltip").remove();
              var x = item.datapoint[0].toFixed(2),
                  y = item.datapoint[1].toFixed(2);
              
              showTooltip(item.pageX, item.pageY,
                          item.series.label + " : " + $.plot.formatDate(new Date(item.datapoint[0]), "%y/%m/%d", null) + " - " + item.datapoint[1] + "위");
          }
      }
      else {
          $("#tooltip").remove();
          previousPoint = null;            
      }

  });
</script>

<table>
  <tr>
    <th>Name</th>
    <th>Appid</th>
    <th>Author</th>
    <th>Description</th>
    <th>Category</th>
    <th>Birthday</th>
    <th>Platform</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= app.name %></td>
    <td><%= app.appId %></td>
    <td><%= app.author %></td>
    <td><%= app.description %></td>
    <td><%= app.category %></td>
    <td><%= app.birthday %></td>
    <td><%= app.platform %></td>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path %>
