<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Appid:</b>
  <%= @app.appId %>
</p>

<p>
  <b>Author:</b>
  <%= @app.author %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>

<p>
  <b>Category:</b>
  <%= @app.category %>
</p>

<p>
  <b>Birthday:</b>
  <%= @app.birthday %>
</p>

<p>
  <b>Platform:</b>
  <%= @app.platform %>
</p>

<p>
  <b>graph:</b>
  <div class="graph">
	<%= render 'graph' %>
  </div>
</p>
<script type="text/javascript">
  // $.plot($("#placeholder"), [ [[0, 0], [1, 1]] ], { yaxis: { max: 1 } });
  var rankData = <%= raw @rankData.to_json %>;
  var graphOptions = <%= raw @graphOptions.to_json %>;
  $.plot($("#placeholder"), [rankData], graphOptions);

  function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css( {
          position: 'absolute',
          display: 'none',
          top: y + 5,
          left: x + 5,
          border: '1px solid #fdd',
          padding: '2px',
          'background-color': '#fee',
          opacity: 0.80
      }).appendTo("body").fadeIn(200);
  }

  var previousPoint = null;
  $("#placeholder").bind("plothover", function (event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));

      if (item) {
          if (previousPoint != item.dataIndex) {
              previousPoint = item.dataIndex;
              
              $("#tooltip").remove();
              var x = item.datapoint[0].toFixed(2),
                  y = item.datapoint[1].toFixed(2);
              
              showTooltip(item.pageX, item.pageY,
                          item.series.label + " : " + $.plot.formatDate(new Date(item.datapoint[0]), "%y/%m/%d", null) + " - " + item.datapoint[1] + "위");
          }
      }
      else {
          $("#tooltip").remove();
          previousPoint = null;            
      }

  });
</script>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
